In [15]:
import pandas as pd

In [22]:
df = pd.read_csv("E:\Codes\Data Mining\Lab Task 1\car_evaluation.csv")
df.describe()

       vhigh vhigh.1     2   2.1 small   low  unacc
count   1727    1727  1727  1727  1727  1727   1727
unique     4       4     4     3     3     3      4
top     high    high     3     4   med   med  unacc
freq     432     432   432   576   576   576   1209

In [23]:
df.isnull().sum()

vhigh      0
vhigh.1    0
2          0
2.1        0
small      0
low        0
unacc      0
dtype: int64

In [24]:
df["vhigh"] = df["vhigh"].replace({"vhigh": 4, "high": 3, "med": 2, "low": 1})
df["vhigh.1"] = df["vhigh.1"].replace({"vhigh": 4, "high": 3, "med": 2, "low": 1})
df["2"] = df["2"].replace("5more", 6)
df["2.1"] = df["2.1"].replace("more", 6)
df["small"] = df["small"].replace({"small": 0, "big": 2, "med":1})
df["low"] = df["low"].replace({"small": 1,"med":2, "big": 3, "high": 4, "low": 0})
df["unacc"] = df["unacc"].replace({"unacc": 0,"acc":1, "good": 2, "vgood": 3})

In [25]:
df

      vhigh  vhigh.1  2 2.1  small  low  unacc
0         4        4  2   2      0    2      0
1         4        4  2   2      0    4      0
2         4        4  2   2      1    0      0
3         4        4  2   2      1    2      0
4         4        4  2   2      1    4      0
...     ...      ... ..  ..    ...  ...    ...
1722      1        1  6   6      1    2      2
1723      1        1  6   6      1    4      3
1724      1        1  6   6      2    0      0
1725      1        1  6   6      2    2      2
1726      1        1  6   6      2    4      3

[1727 rows x 7 columns]

In [27]:
feature = df["vhigh","vhigh.1" "2", "2.1", "small", "low"]
target = df["unacc"]

x = df[feature]
y = df[target]

KeyError: ('vhigh', 'vhigh.12', '2.1', 'small', 'low')

In [11]:
df

      vhigh  vhigh.1 Two TwoOne  small  low  unacc
0         4        4   2      2      0    2      0
1         4        4   2      2      0    4      0
2         4        4   2      2      1    0      0
3         4        4   2      2      1    2      0
4         4        4   2      2      1    4      0
...     ...      ...  ..    ...    ...  ...    ...
1722      1        1   6      6      1    2      2
1723      1        1   6      6      1    4      3
1724      1        1   6      6      2    0      0
1725      1        1   6      6      2    2      2
1726      1        1   6      6      2    4      3

[1727 rows x 7 columns]